.projectSection {
    display: flex;
    position: relative; 
    overflow: hidden;   
}

.webImageProject{
    width: 30rem;
    height: 18.75rem;
    object-fit: cover;
}

.detailsProjectDiv {
    width: 100%;
    background: #2d2c2c81;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerProjectDiv{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #0000004d;
}

.detailsTitle{
    font-family: var(--poppins);
    color: var(--textPrimaryColor);
    font-weight: 300;
    font-size: 1.5rem;
}

.detailsParagraph{
    font-family: var(--robotoMono);
    color: var(--textPrimaryColor);
    font-weight: 300;
    font-size: 0.875rem;
}

.stacksFromProjects{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.stacksFromProjectsTitle{
    font-family: var(--poppins);
    color: var(--textPrimaryColor);
    font-weight: 300;
    font-size: 1.125rem;
}

.motion{
    width: 100%;
    display: flex;
}

.githublink{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.githublink svg {
    font-size: 1.5rem;
}

@media screen and (max-width: 425px) {
    .motion {
        flex-direction: column;
    }
    .webImageProject {
        width: 100%;
        height: auto; 
    }
    .detailsProjectDiv {
        width: 100%;
        padding: 1.5rem 1rem; 
        background: #2d2c2c81; 
    }
    .stacksFromProjects {
        flex-wrap: wrap; 
        gap: 0.75rem;
    }
    .detailsTitle, .stacksFromProjectsTitle {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .motion {
        flex-direction: column;
    }

    .webImageProject {
        width: 100%;
        height: auto; 
    }
}