.experienceSection{
    background-color: var(--backgroundSecondary);
    width: 18.75rem;
    height: 25rem;
    overflow-wrap: break-word;
    padding: 1rem;
    border-radius: 0.5rem;
}

.experienceTitle{
    font-weight: 300;
    font-size: 1.5rem;
    font-family: var(--poppins);
    text-align: center;
    margin-bottom: 1.5rem;
}

.experienceDescription{
    font-family: var(--robotoMono);
    font-size: 1rem;
}