@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


.headerContain{
    background-color: var(--backgroundSecondary);
    width: 100%;
    height: 60%;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.textHeaderContain{
    height: 55%;
    width: 30%;
}

.headerTitle{
    font-family: var(--popppins);
    font-size: 40px;
    font-weight: 200;
    color: #fff;
}


.headerSubTitle{
    font-family: var(--popppins);
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}

.image{
    background-color: white;

    width: 300px;
    height: 300px;
}