@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


.headerContain{
    background-color: var(--backgroundSecondary);
    width: 100%;
    height: 150px;
}

.headerTitle{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: #fff;
}


.headerSubTitle{
    font-family: var(--popppins);
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}