.headerContain {
  background-color: var(--backgroundSecondary);
  width: 100%;
  min-height: 60vh; 
  padding: 2.5rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
    gap: 3.125rem;
}

.textHeaderContain {
  width: 100%;
  max-width: 31.25rem;
}

.headerTitle { 
  font-family: var(--poppins);
  font-size: 3rem; 
  font-weight: 300;
  color: #fff;
  letter-spacing: -0.0625rem; 
  margin-bottom: 0.625rem;
}

.headerSubTitle {
  font-family: var(--poppins);
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.6;
  color: #ccc; /
}

.imageContain {
  width: 18.75rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn ease 2s forwards;
}

.image {
  width: 100%;
  height: auto;
}

.paragrapfImage {
  font-family: var(--poppins);
  font-size: 0.75rem;
  margin-top: 0.625rem;
  color: #888;
}

.storySetLink {
  font-family: var(--poppins);
  color: var(--secondaryColor);
  text-decoration: none;
  transition: all 0.3s ease;
}

.storySetLink:hover {
  color: var(--secondaryColorHover);
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
