.headerContain {
  background-color: var(--backgroundSecondary);
  width: 100%;
  min-height: 60vh; 
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 50px;
}

.textHeaderContain {
  width: 100%;
  max-width: 500px; 
}

.headerTitle {
  font-family: var(--poppins);
  font-size: 48px; 
  font-weight: 300;
  color: #fff;
  letter-spacing: -1px; 
  margin-bottom: 10px;
}

.headerSubTitle {
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 200;
  line-height: 1.6;
  color: #ccc; /
}

.imageContain {
  width: 300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn ease 2s forwards;
}

.image {
  width: 100%;
  height: auto;
}

.paragrapfImage {
  font-family: var(--poppins);
  font-size: 12px;
  margin-top: 10px;
  color: #888;
}

.storySetLink {
  font-family: var(--poppins);
  color: var(--secondaryColor);
  text-decoration: none;
  transition: all 0.3s ease;
}

.storySetLink:hover {
  color: var(--secondaryColorHover);
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}