.carouselSection{
  position: relative;
  width: 100%;
}

.carouselWrapper{
  overflow: hidden; 
  width: 100%;
}

.carouselItem {
  min-width: 100%; 
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselContent{
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.buttonPass{
  background-color: var(--backgroundPrimary);
  width: 1.875rem;
  height: 1.875rem;

  border: 0.0625rem solid #1b1b1b;
  border-radius: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  z-index: 10;
  cursor: pointer;

  transition: all 0.5s ease;
}

.buttonPass svg {
  font-size: 0.9375rem;
}

.nextpassButton {
  right: 0.625rem; 
}

.backpassButton{
  left: 0.625rem; 
}

.buttonPass:hover{
  background-color: rgb(87, 87, 87);
}
