.stackContain {
  width: 130px;
  height: 130px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.children {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.children svg {
  font-size: 45px;
}

.stackText {
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 400;
}
