.stackContain {
  width: 8.125rem;
  height: 8.125rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.children {
  width: 6.25rem;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.children svg {
  font-size: 2.8125rem;
}

.stackText {
  font-family: var(--poppins);
  font-size: 1.125rem;
  font-weight: 400;
}
