.footer{
    width: 100%;
    height: 15vh;
    background-color: var(--backgroundSecondary);
    padding: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerTitle{
 font-family: var(--poppins);
    color: var(--textPrimaryColor);
    font-weight: 300;
    font-size: 1.5rem;
}

.footerSubTitle{
    font-family: var(--robotoMono);
    color: var(--textPrimaryColor);
    font-weight: 300;
    font-size: 0.875rem;
}