.container{
  background-color: var(--backgroundPrimary);
  min-height: 100vh;
  width: 100%;
}

.main{
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

h1{
  font-family: var(--robotoMono);
  letter-spacing: -0.05em;
  font-weight: 400;
}

.paragraph{
  font-family: var(--poppins);
  font-size: 1.2em;
}

.aboutMe{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.aboutMeTextContain{
    width: 50%;
}

.aboutMeImage{
    width: 300px;
    animation: aboutFadeIn ease 2s forwards;
}

@keyframes aboutFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.stackSection{
  background: rgba(45, 44, 44, 0.504);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);  padding: 24px;
  border-radius: 8px;
  border: 1px solid #0000004d;
  
  box-shadow: 0 4px 30px #0000001a;
}

.gridLayout {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-areas: 
    "front ."
    ".     back"
    "tools .";
  gap: 20px;
}

.front{
  grid-area: front;
}

.back {
  text-align: right; 
}
.back .stacksDiv {
  justify-content: end; 
}

.tools{
  grid-area: tools;
}

.tecnologiesDivExample{
  display: flex;
  flex-direction: row;
  gap: 24px;
}