.container{
  background-color: var(--backgroundPrimary);
  height: 100vh;
}

h1{
  font-family: var(--robotoMono);
  letter-spacing: -0.05em;
  font-weight: 400;
}

.paragraph{
  font-family: var(--poppins);
  font-size: 1.2em;
}