.container{
  background-color: var(--backgroundPrimary);
  height: 100%;
}

.stacksSection{
  width: 100%;
}

.stacksDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.stacksContain{
  width: 20%;
}