.container {
  background-color: var(--backgroundPrimary);
  min-height: 100vh;
  width: 100%;
}

.main {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

h1 {
  font-family: var(--robotoMono);
  color: var(--textPrimaryColor);
  letter-spacing: -0.05em;
  font-weight: 400;
}

p{
    color: var(--textPrimaryColor);

}

.paragraph {
  font-family: var(--poppins);
  font-size: 1.2em;
}

.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.aboutMeTextContain {
  width: 50%;
}

.aboutMeImage {
  width: 18.75rem;
  animation: aboutFadeIn ease 2s forwards;
}

@keyframes aboutFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.stacksTitle{
  text-align: center;
  margin-bottom: 1.25rem;
}

.stackSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.stakcsContain{
  text-align: center;
  width: 100%;
  background: rgba(45, 44, 44, 0.504);
  backdrop-filter: blur(0.625rem);
  -webkit-backdrop-filter: blur(0.625rem);
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #0000004d;
  box-shadow: 0 4px 30px #0000001a;
}

.divStack{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.projectsSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 2rem;
}

.contactTitle{
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 425px) {
  .aboutMe .imageContain {
    display: none;
  }
  .aboutMeTextContain {
    width: 100%;
    text-align: center; 
  }
  .stackSection {
    flex-direction: column;
    gap: 1rem;
  }
  .main {
    padding: 1rem;
    gap: 2.5rem;
  }
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .stackSection {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;      
  }

  .stackSection > div {
    flex: 1 1 150px;
  }
}