@import "tailwindcss";

:root {
  --bgColorHeader: #333333;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
@theme inline {
  --color-bgColorHeader: var(--bgColorHeader);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
