.contactsSection{
    background-color: #2d2c2c81;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactsDiv{
    display: flex;
    flex-direction: column;
    gap: 1.25rem
}

.socialMediaContatsTitle{
    font-family: var(--poppins);
    color: var(--textPrimaryColor);
    font-weight: 300;
    font-size: 1.5rem;
}

.socialMediaContact{
    display: flex;
    gap: 1.25rem;
}

.contactImage{
    width: 18.75rem;
    height: 18.75rem;
}

@media screen and (max-width: 425px) {
    .contactImage{
        display: none;
    }
}